{% extends "website/layout.html" %}

{% block css%}
<link rel="stylesheet" type="text/css" href="static/website/3.css">
{% endblock %}

{% block body %}




<div class="container-fluid glass-container"> 
    <div class="glass2">
        <nav>
            <p class="menu-item">Home</p>
            <p class="menu-item">My Work</p>
            <p class="menu-item">Contact</p>
        </nav>
        <!--
        <h1 class="name">Tim Wallace</h1>
        -->
    </div>
</div>


<div class="container-fluid content">
    <div class="row">

        <div class="col-sm-12 col-lg-6 glass-container">
            <div class="glass2">
                <p class="text-center copy">Hi there! My name is Tim Wallace and I love making websites. Check out some of the things I've built below for examples. I'm currently trying to level up my skills in order to get a dev job. I hope one day to become a full stack developer. </p>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 text-center glass-container">
            <div class="glass2">
                <img class="img-fluid headshot" src="static/website/walla 2.jpg">
            </div>
        </div>

    </div>
</div>





{% endblock %}