<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P9EF8DLF3P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-P9EF8DLF3P');
        </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Tim Wallace Dev.">
	<meta name="keywords" content="Tim Wallace dev">
	<meta name="author" content="T-Bone">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tim Wallace</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<link href="/static/website/5.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">TW</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/five-projects">My Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/five-about">About</a>
				</li>
				<!--li class="nav-item">
					<a class="nav-link" href="/five-gear">Gear</a>
				</li-->
			</ul>
		</div>
	</div>
</nav>
<!--Content-->

<h1 class="text-center" id="mystory">My Story</h1>


<div class="container-fluid" id="about-div">
    <p>Hi there, my name is Tim and I am freelance web developer. Being a fan of tech history, I've always wanted to know how everything works from start to finish. I work on everything from front-end CSS to Apache configurations and DNS settings. I've always liked the term 'webmaster' and consider myself one. I hope to become a full stack developer. Check out my portfolio and get in touch if you like what you see!</p>

    <p>I first got into coding after volunteering to set up a website for my band. I began researching how to make a website and found tonnes of results for website builders like squarespace and wix. At the time, our budget was next to nothing so even these options seemed pricey for what we needed. I began diving deeper and learning about how websites actually work. Eventually I started learning HTML and CSS from some youtube videos.</p>

    <p>I was hooked. Making that first "hello world" was such a cool experience. I thought it was the coolest thing that I could simply create webpages and see them in my browser. I soon started adding bootstrap to my websites as I realized that desktop and mobile layouts needed to be very different.</p>

    <p>I wanted to go deeper, thats when I found <a href="https://edx.org">EdX</a>. I found an intro to computer science course and jumped right in. We started by learning the basics of C and completing a number of small assignments. We then moved on to python, recreating those assignments previously written in C, but in python. This really showcased the power of Python. We soon moved on to Flask, the python web framework and created a full website with a backend. I kept playing around with Flask and thought it was very cool. I like the simplicity of it.</p>

    <p>Not long after, I took the second part of the course; CS50 web development with python and javascript. This is where I learned about Django. We began creating websites with broader scope, including authentication and databases. I realized how much time these features save in development time.</p>

    <p>Throughout this whole period, I was hosting things on <a href="https://neocities.org">Neocities.org</a> which hosts static content. I messed around a bit with heroku, but I wasn't really looking to pay monthly fees, and my apps needed add-ons like databases, SSL certificates, and the lowest tier is very slow. I decided I wanted my own server, and that I would host my websites myself. This led me down a huge rabbit hole, learning about apache, DNS, firewalls, and more. The IT side of things was a huge challenge, and I was never more proud of myself than when I was able to deploy my very own Django projects on my own server, and it WORKED!</p>

    <p>I feel now that I have my own webserver anything is posible.  </p>

</div>

<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-12"> 
		<hr class="light">
		<p>timwallacedev@gmail.com</p>
		<p>Toronto, Ontario.</p>
	</div>


	<div class="col-12">
		<hr class="light-100">
		<h5>&copy; Tim Wallace</h5>
	</div>
</div>
</div>
</footer>



</body>
</html>

