{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P9EF8DLF3P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-P9EF8DLF3P');
        </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Tim Wallace Dev.">
	<meta name="keywords" content="Tim Wallace dev">
	<meta name="author" content="T-Bone">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tim Wallace</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<link href="/static/website/5.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">TW</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/five-projects">My Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/five-about">About</a>
				</li>
                <li class="nav-item">
					<a class="nav-link active" href="/five-gear">Gear</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--Content-->

<h1 class="text-center">My Setup</h1>

<section>
	<div class="card padding-15">
		<h2 class="padding-bottom-15">Computer</h2>

		<div class="padding-bottom-30">
			<img src="/static/website/chromebook-logo.gif" class="gear-logo" id="chromebook-img">
			<p>My Main computer is my Acer Chromebook from 2017. It's got a touch screen, 2usb ports and an HDMI port. Using 'developer mode' you can enable a linux environment which let's you run any tools you need for developing. I currently use VS code as my main editor and chrome as my main browser. Although it takes a moment for the chromebook to spin up the linux environment, once it's up and running it's surprisingly quick. </p>
		</div>
	</div>
</section>

<section>
	<div class="card padding-15">
		<h3 class="padding-bottom-15">Workstation</h3>

		<div class="padding-bottom-30">
			<img src="/static/website/flatron.jpg" class="gear-logo" id="flatron">
			<p>I bought a used LG 21" monitor off a local classified ad which I use as my secondary monitor with my chromebook. I've also got a keyboard and mouse off amazon. </p>
		</div>
	</div>
</section>

<section>
	<div class="card padding-15">
		<h2 class="padding-bottom-15">Server</h2>

		<div class="padding-bottom-30">
			<img src="/static/website/raspberrylogo.svg" class="gear-logo" id="raspberry-logo">
			<p>My webserver is a rapberry pi 4. So far it's been more than enough for what I've needed it for. It's currently serving 3 live websites. I love the fact that if anything goes wrong, you can simply insert a SD card with new OS and start over. </p>
		</div>
	</div>
	

</section>


<section>
	<div class="card padding-15">

		<h2 class="padding-bottom-15">Efficiency</h2>

		<div class="padding-bottom-30">

			<p>I'm a huge fan of efficiency. I love getting the most out of the resources you have. I'm constantly impressed by all the things these little machines are able to do.</p>

		</div>

	</div>
</section>









<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-12"> 
		<hr class="light">
		<p>timwallacedev@gmail.com</p>
		<p>Toronto, Ontario.</p>
	</div>


	<div class="col-12">
		<hr class="light-100">
		<h5>&copy; Tim Wallace</h5>
	</div>
</div>
</div>
</footer>



</body>
</html>

