<!doctype html>
<html>
    <head>
        <title>Internet Archive</title>
	<style>
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 35px;
	}

	button {
		font-size: 20px;
		color: orange;

	}

	.card {
		border: 2px solid black;
		border-radius: 8px;
		margin: 10px;
		padding: 25px;
		
	}

	a {

		color: orange;
	}
	</style>
    </head>
    <body>
        <h1>Tim's Internet Archive</h1>

        <main class="main">

            <div class="card">
                <h2>TBone's Bike Shop</h2>
                <button><a href="/tbonesbikeshop">Check It Out</a></button>
            </div>

	    <div class="card">
                <h2>Coin Sorting Game</h2>
                <button><a href="/coinsort">Check It Out</a></button>
            </div>

	    <div class="card">
                <h2>Simple Calculator</h2>
                <button><a href="/calculator">Check It Out</a></button>
            </div>

	    <div class="card">
                <h2>Is it too hot to work?</h2>
                <button><a href="/isittoohottowork">Check It Out</a></button>
            </div>

<!--
            <div class="card">
                <h2>Mail</h2>
            </div>

            <div class="card">
                <h2>Stocks</h2>
            </div>

            <div class="card">
                <h2>Commerce</h2>
            </div>

-->
        </main>
    </body>
</html>
