<!DOCTYPE html>
<html>
    <head>
        <title>Education</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <meta charset="UTF-8">
        <style>
            img {
                width: 400px;
                height: auto;
                border: 3px solid black;
                border-radius: 10px;
            }
            body {
                text-align: center;
            }

            .game {
                border: 1px solid black;
                border-radius: 10px;
                margin-right: 10vw;
                margin-left: 10vw;
            }
        </style>
    </head>
    <body>
        <h1>Education</h1>
        <div class="game">
            
            <a href="https://timwallace.ca/coinsort">
                <h3>Coin Sorting</h3>
            </a>
            <a href="https://timwallace.ca/coinsort">
                <img src="static/website/coinsort.png">
            </a>
        </div>
    </body>
</html>
