{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tim Wallace</title>
        <link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap.min.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        {% endblock %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P9EF8DLF3P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-P9EF8DLF3P');
        </script>
        
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
