{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P9EF8DLF3P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-P9EF8DLF3P');
        </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="Tim Wallace Dev.">
	<meta name="keywords" content="Tim Wallace dev">
	<meta name="author" content="T-Bone">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tim Wallace</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<link href="/static/website/5.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/five">TW</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/five">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/five-projects">My Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/five-about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/five-gear">Gear</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--Content-->

<h1 class="text-center">More Projects</h1>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card-holder">
                <div class="card project-card-padding">
                    <h2 class="padding-15">T-Bone's Bike World</h2>
					<a href="https://tbonesbikeworld.com" class="img-hover" target="_blank">
                    	<img src="static/website/tbbwss.png" class="img-fluid border-rad-10">
					</a>
                    <p class="text-justify pad-top-10">My primary mode of transportation is my bicycle. Over the years I've bought and sold lots of bicycles of various styles, and dicided to make a little blog about some of the bikes I like.</p>
                    <a href="https://tbonesbikeworld.com" target="_blank"><button class="btn btn-primary">Check It out!</button></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card-holder">
                <div class="card project-card-padding">
                    <h2 class="padding-15">Is it too hot to work?</h2>
					<a href="https://tbonesbikeworld.com" class="img-hover" target="_blank">
                    	<img src="static/website/isittoohottowork.png" class="img-fluid border-rad-10">
					</a>
                    <p class="text-justify pad-top-10">I used to work summer jobs doing landscaping, and during extremely hot days we would reference the heat chart to see if the temperatures were too hot to be working. I always thought, there should be an app for this! Now it exists!</p>
                    <a href="https://timwallace.ca/isittoohottowork" target="_blank"><button class="btn btn-primary">Check It out!</button></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card-holder">
                <div class="card project-card-padding">
                    <h2 class="padding-15">Tasks</h2>
					<a class="img-hover" href="https://timwallace.ca/tasks" target="_blank">
                    	<img src="static/website/tasksss.png" class="img-fluid border-rad-10">
					</a>
                    <p class="text-justify pad-top-10">The quitecential project for any dev is the task app. Getting user input to update the dom is really the heart of any website. I built this site using only javascript, HTML and CSS. I thought a cool use for the localStorage would be a little task list. With large modern internet companies hoovering up any data users may present them, having ownership of your own data is becoming increasingly important for some. I wanted to create a task app that would never be able to track anyones data and that privacy concious individuals would want to use.</p>
                    <a href="https://timwallace.ca/tasks" target="_blank"><button class="btn btn-primary">Check It out!</button></a>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-12"> 
		<hr class="light">
		<p>timwallacedev@gmail.com</p>
		<p>Toronto, Ontario.</p>
	</div>


	<div class="col-12">
		<hr class="light-100">
		<h5>Tim Wallace</h5>
	</div>
</div>
</div>
</footer>



</body>
</html>

