{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Popup Box</title>
        <script src="/static/website/popup.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body {
                text-align: center;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <h1>Popup Box Practice</h1>
        <p>Welcome! This is a demo created by Tim Wallace. It is a simple popup box that looks much nicer than the built in <code>alert()</code> function. I was using the alert function, but it looks terrible and I wanted to improve it.</p>

        <button id="trigger">Click here for a popup</button>
    </body>
</html>