<!DOCTYPE html>
<html>
    <head>
        <title>Artist Popularity Contest</title>
        <script>
            var previewurl = '{{ preview }}'
            var artist1 = "{{ artist1.name }}";
            var artist2 = "{{ artist2.name }}";
            var popularity1 = {{ pop1 }};
            var popularity2 = {{ pop2 }};

            function playPreview(){
                    window.open(previewurl)
                    console.log("playing preview")
            }
            
            

            console.log(popularity1)
            console.log(popularity2)

            //playPreview()

            function checkAnswer(num){
                if (num == 1){
                    if (popularity1 >= popularity2){
                        console.log("you win!")
                        betterAlert(`you Win!\n${artist1}: ${popularity1}\n${artist2}: ${popularity2}`)
                    }
                    else {
                        console.log("you lost")
                        betterAlert(`you lose!\n${artist1}: ${popularity1}\n${artist2}: ${popularity2}`)
                    }
                }
                else {
                    if (popularity2 >= popularity1){
                        console.log("you win!")
                        betterAlert(`you Win!\n${artist1}: ${popularity1}\n${artist2}: ${popularity2}`)
                    }
                    else{
                        console.log("you lose.")
                        betterAlert(`you lose!\n${artist1}: ${popularity1}\n${artist2}: ${popularity2}`)
                    }
                }
                console.log(popularity1, popularity2)                    
            }

            function betterAlert(messageText){
                let topPad = screen.height / 4;
                let message = messageText;
                console.log("sending alert");
                var main = document.createElement("div");
                main.id = "betterAlert";
                main.style.textAlign = "center";
                main.style.position = "absolute";
                main.style.top = "0";
                main.style.left = "0";
                main.style.width = "100%";
                main.style.height = "100vh"
                main.style.backgroundColor = "rgba(200,200,200,0.8)";
                main.style.justifyContent = "center";
                main.style.boxSizing = "border-box";
                main.style.zIndex = "6";

                var box = document.createElement("div")
                box.style.backgroundColor = "#999";
                box.style.padding = "20px";
                box.style.borderRadius = "5px";
                if (screen.width > 300){
                    box.style.width = "300px";
                }
                else {
                    box.style.width = screen.width - 5;
                }
                
                box.style.marginRight = "auto";
                box.style.marginLeft = "auto";
                box.style.marginTop =`${topPad}px`;

                var messageP = document.createElement("p");
                messageP.innerHTML = message;


                var closeBtn = document.createElement("button");
                closeBtn.innerHTML = "Next Question";
                closeBtn.style.border = "none";
                closeBtn.style.borderRadius = "5px";
                closeBtn.addEventListener("click", () => {
                    let main = document.getElementById("betterAlert");
                    body.removeChild(main);
                    console.log("closed");
                    location.reload(true)
                })

                var body = document.querySelector("body");

                box.append(messageP)
                box.append(closeBtn)
                main.append(box)
                body.append(main)
                }
        </script>
    </head>
    <body>
        <h1>Who's more popular?!</h1>
        <button onclick="playPreview()">Play Preview</button>
        <hr>
        {{ artist1.name }}
        <br>
        <img src="{{ img1 }}">
        <button onclick="checkAnswer(1)">Vote!</button>
        
        <hr>
        {{ artist2.name }}
        <br>
        <img src="{{ img2 }}">
        <button onclick="checkAnswer(2)">Vote!</button>
    </body>
    </body>
</html>